@page
@using TuneTrove_presentation.Pages
@using TuneTrove_Logic.Models
@using TuneTrove_DAL
@model TuneTrove_presentation.Pages.BandPageModel
@{
	ViewData["Title"] = Model.title;
}

<div class="text-center">
	<h1 class="display-4">@Model.title</h1>
	<p>Temp.</p>
	<table>
		<tr>
			<th>Id</th>
			<th>Band leider</th>
			<th>Muzikanten</th>
			<th>Setlists</th>
		</tr>
		@{

			foreach (Band band in Model.Bands)
			{
				<tr>
					<td>@band.Id</td>
					<td>@band.BandLeider</td>
					<td>
						@foreach (int id in band.MuzikantIds)
						{
							<p>@id - </p>
						}
					</td>
					<td>					
						@foreach (int id in band.SetlistIds)
						{
						    <p>@id - </p>
						}
					</td>
				</tr>
			}
		}
	</table>

	@* design for nice looking band creator forms, use partial views too to reuse *@
	
	@await Html.PartialAsync("Shared/PartialViews/PartialBandCreator", this.Model)
</div>
